* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
}

svg {
	width:60%;
	height: 60%;

}

#clouds {
    animation: clouds 7s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
  
}


@keyframes clouds {
	0% {
		opacity: 1;
		transform: translateX(-200px)
	}
	50% {
		transform: translateX(30px);
	}
	100% {
		opacity: 1;
		transform: translate(-200px);
	}
}

